<!DOCTYPE html>
<html lang="ua">
<head>
    <meta charset="UTF-8">
    <title>Portfolio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon">
</head>
<body>
    <header class="wrapper" style="background: url({{ url_for('static', filename='images/Image shape.png')}}) no-repeat">
        <nav>
            <ul>
{#              <li><a href="">EN</a></li>#}
{#              <li><a href="">UA</a></li>#}
            </ul>
            <ul class="main_nav">
                <li><a href="#about">Про мене</a></li>
                <li><a href="#services">Послуги</a></li>
                <li><a href="#experience">Досвід</a></li>
                <li><a href="#projects">Проекти</a></li>
                <li><a href="#contacts" class="button">Контакти</a></li>
            </ul>
        </nav>
        <article>
            <h3>Вітаю, моє ім'я <span>Олексій Козлов</span></h3>
            <h2>Я Junior Python Developer</h2>
            <h3>І це мій сайт-портфоліо</h3>
            <p>Ласкаво прошу ознайомитися із наданою інформацією</p>
            <a href="" class="button">Завантажити коротку версію</a>
        </article>
    </header>

    <section class="about wrapper">
        <a name="about"></a>
        <article>
            <h1>Про мене</h1>
            <p>
                There are many variations of passages of Lorem Ipsum available,
                but the majority have suffered alteration in some form,
                by injected humour, or randomised words which don't look even
                slightly believable.If you are going to use a passage of
                Lorem Ipsum, you need to be sure there isn't anything.
            </p>
        </article>
{#        <canvas></canvas>#}
    </section>

    <section class="services_wrapper wrapper">
        <a name="services"></a>
        <h1>Послуги</h1>
        <section class="services_grid">
            <article>
{#                <img src="{{ url_for('static', filename='images/backend.png') }}" alt="">#}
                <h3>Back-end development</h3>
                <p>
                    There are many variations of passages of Lorem Ipsum available,
                    but the majority have suffered alteration
                </p>
            </article>
            <article>
{#                <img src="{{ url_for('static', filename='images/fronend.png') }}" alt="">#}
                <h3>Front-end development</h3>
                <p>
                    There are many variations of passages of Lorem Ipsum available,
                    but the majority have suffered alteration
                </p>
            </article>
            <article>
{#                <img src="{{ url_for('static', filename='images/fronend.png') }}" alt="">#}
                <h3>Telegram bot development</h3>
                <p>
                    There are many variations of passages of Lorem Ipsum available,
                    but the majority have suffered alteration
                </p>
            </article>
        </section>
    </section>

    <section class="experience_wrapper wrapper">
        <a name="experience"></a>
        <h1>Досвід</h1>
        <article>
            <p>
                There are many variations of passages of Lorem Ipsum available,
                but the majority have suffered alteration
            </p>
        </article>
    </section>

    <section class="projects_wrapper wrapper">
        <a name="projects"></a>
        <div class="wrapper">
            <h1>Проекти</h1>
            <section class="projects_grid">
                <article>
                    <img src="{{ url_for('static', filename='images/project_tmp.png') }}" alt="">
                    <table>
                        <tr>
                            <td>
                                <h3>Project Name</h3>
                                <h4>Client: 123</h4>
                                <p>
                                    There are many variations of passages of Lorem Ipsum available,
                                    but the majority have suffered alteration
                                </p>
                            </td>
                        </tr>
                    </table>
                </article>
                <article>
                    <img src="{{ url_for('static', filename='images/project_tmp.png') }}" alt="">
                    <table>
                        <tr>
                            <td>
                                <h3>Project Name</h3>
                                <h4>Client: 123</h4>
                                <p>
                                    There are many variations of passages of Lorem Ipsum available,
                                    but the majority have suffered alteration
                                </p>
                            </td>
                        </tr>
                    </table>
                </article>
                <article>
                    <img src="{{ url_for('static', filename='images/project_tmp.png') }}" alt="">
                    <table>
                        <tr>
                            <td>
                                <h3>Project Name</h3>
                                <h4>Client: 123</h4>
                                <p>
                                    There are many variations of passages of Lorem Ipsum available,
                                    but the majority have suffered alteration
                                </p>
                            </td>
                        </tr>
                    </table>
                </article>
            </section>
        </div>
    </section>

    <section class="contacts_wrapper wrapper">
        <a name="contacts"></a>
        <h1>Контакти</h1>
        <section class="contacts">
            <article>
                <img src="{{ url_for('static', filename='images/phone.png') }}" alt="">
                <img src="{{ url_for('static', filename='images/email.png') }}" alt="" width="90" height="70">
            </article>
            <article>
                <p>111 111 11 11</p>
                <p>1111111111@gmail.com</p>
            </article>
        </section>
    </section>

    <section class="credits wrapper">
        <article>
            <h1>Швидкі посилання</h1>
            <a href="#about">Про мене</a>
            <a href="#services">Послуги</a>
            <a href="#experience">Досвід</a>
            <a href="#projects">Проекти</a>
            <a href="#contacts">Контакти</a>
        </article>
        <article>
            <h1>Підписатися на новини</h1>
            <form id="sub" action="#">
                <input type="email" placeholder="Email">
                <button form="sub"><img src="{{ url_for('static', filename='images/arrow.png') }}" alt=""></button>
            </form>
        </article>
    </section>

    <footer>
        <hr>
        <div class="wrapper">
            <p>Авторське право @Я Всі права захищені.</p>
        </div>
    </footer>

</body>
</html>
